In [1]:
print(True,False)

True False

In [23]:
my_str = "tejash sharma"

In [24]:
print(my_str.capitalize())
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.startswith('T'))
print(my_str.endswith('a'))
print(my_str.islower())

Tejash sharma
False
False
False
False
True
True

In [25]:
str_example = 'Hello World'
my_str = 'Tejash'

In [26]:
my_str.isalpha() or str_example.isnum()

True

# Lists
A list is mutable, or changeable, ordered sequence of elements.

In [27]:
lst_example = []

In [31]:
type(lst_example)

list

In [29]:
lst = list()

In [30]:
type(lst)

list

In [35]:
lst = ['Mathematics','Chemistry',100,200,300]

In [36]:
len(lst)

5

# Append

In [33]:
lst.append("Tejash")

In [34]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 'Tejash']

In [37]:
lst[1:]

['Chemistry', 100, 200, 300]

# Insert

In [38]:
lst.insert(1,"Tejash")

In [39]:
lst

['Mathematics', 'Tejash', 'Chemistry', 100, 200, 300]

In [40]:
lst.append(["HEllo","World"])

In [41]:
lst

['Mathematics', 'Tejash', 'Chemistry', 100, 200, 300, ['HEllo', 'World']]

# Extend Method

In [1]:
lst = [1,2,3,4,5,6]

In [2]:
lst.extend([7,8])

In [3]:
lst    # The difference between the insesrt and extend is in extend the element is added saprately

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
sum(lst)

36

In [10]:
lst.pop()  ## This fuction prints the last element of the list

6

# Set 
A set is an unorderd collection data type that is iterable, mutable, and has no duplicate elements. Python's set class 
represents the mathematical notion of set. This is based on a data structure known as a hash table

In [12]:
# Set does not support indexing
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [13]:
set_var = {1,2,3,4}

In [14]:
set_var

{1, 2, 3, 4}

In [15]:
# But there is a onBuild method add which adds the element to the set
set_var.add("Tejash")

In [16]:
set_var

{1, 2, 3, 4, 'Tejash'}

In [18]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,6}

In [19]:
set1.intersection(set2)

{1, 2, 3, 4}

In [21]:
set2.difference(set1)

{6}

# Dictionaries 
A dictionaries is a collection which is unordered, unchangeable and indexed. In python dictionaries are written with
curly brackets, and they have keys and values

In [22]:
dic = {}

In [23]:
type(dic)

dict

In [24]:
dic = {1,2,3,4,5}
type(dic)

set

In [26]:
my_dic = {
    "car1" : "Audi",
    "car2" : "Ford",
    "car3" : "Tata",
    "car4" : "BMW",
}

In [27]:
type(my_dic)

dict

In [30]:
# access the item values based on keys
my_dic["car1"]

'Audi'

In [38]:
for i in my_dic:
    print(i)

car1
car2
car3
car4

In [39]:
for i in my_dic:
    print(my_dic[i])

Audi
Ford
Tata
BMW

In [40]:
# Alternate for the above code
for i in my_dic.values():
    print(i)

Audi
Ford
Tata
BMW

In [41]:
# We can also check both keys and values
for i in my_dic.items():
    print(i)

('car1', 'Audi')
('car2', 'Ford')
('car3', 'Tata')
('car4', 'BMW')

In [42]:
my_dic["car4"]= "jaguar"

In [44]:
my_dic

{'car1': 'Audi', 'car2': 'Ford', 'car3': 'Tata', 'car4': 'jaguar'}

In [47]:
# If we have to replace the key by other values 
my_dic["car1"] = "Maruthi"
print(my_dic)
# it can be seen that the car1 value is replace by Maruthi

{'car1': 'Maruthi', 'car2': 'Ford', 'car3': 'Tata', 'car4': 'jaguar'}

# Nested Dictionary

In [48]:
car1_model = {"Mercedes":1960}
car2_model = {"Audi":1970}
car3_model = {"Ambassador":1980}

car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}

In [49]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [50]:
# if we have to print details of car1
print(car_type["car1"])

{'Mercedes': 1960}

In [51]:
# # if we have to print only year of car1 
print(car_type["car1"]["Mercedes"])

1960

# Tuple
tuple is immutable

In [52]:
my_tuple = tuple()

In [53]:
print(type(my_tuple))

<class 'tuple'>

In [54]:
my_tuple = ("Tejas","xyz","zyx")

In [55]:
my_tuple

('Tejas', 'xyz', 'zyx')

In [57]:
# inbuild functions
my_tuple.count("xyz")

1

In [58]:
my_tuple.index("xyz")

1