In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("Mall_Customers.csv")

In [3]:
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [14]:
X = dataset.iloc[:,3:5]

In [15]:
X.head()

   Annual Income (k$)  Spending Score (1-100)
0                  15                      39
1                  15                      81
2                  16                       6
3                  16                      77
4                  17                      40

In [17]:
from sklearn.cluster import DBSCAN
dbscan = DBSCAN(eps=3,min_samples=4)

In [18]:
model = dbscan.fit(X)

In [22]:
from sklearn import metrics
labels = model.labels_

In [23]:
sample_cores = np.zeros_like(labels,dtype=bool)
# Assuming all the points as False

In [25]:
sample_cores[dbscan.core_sample_indices_]=True
# The point which are True will be counted as True and other point will be False

In [27]:
print(labels)
# -1 means the dataset point is an outlier(Noise point)

[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1  0  0  0  0 -1 -1  0 -1  0 -1  0  0 -1  0 -1 -1
  0 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  2  1  2  2  2  2  2
  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  3  2  3
  3 -1  3 -1 -1  4 -1 -1 -1  4  5  4 -1  4  5 -1  5  4 -1  4  5 -1 -1  6
 -1 -1 -1  7 -1  6 -1  6 -1  7 -1  6 -1  7 -1  7 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1  8 -1  8 -1  8 -1  8 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1]

In [28]:
#  Calculating the number of clusters 
n_clusters = len(set(labels))-(1 if -1 in labels else 0)

In [29]:
print(n_clusters)

9

In [30]:
print(metrics.silhouette_score(X,labels))

-0.1908319132560097